*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
p{
    font-weight: 300;
    color: #111;
}
body{
    min-height: 1000px;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/kyelam.jpg");
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    align-items: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    margin: auto;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: #ff0157;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.text span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgbx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content-1{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content-1 .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content-1 .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content-1 .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content-1 .box .text1{
    padding: 15px 0 5px;
}
.menu .content-1 .box  .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 300px;
    margin: 15px;
}
.expert .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.expert .content .box  .text{
    padding: 15px 0 5px;
}
.expert .content .box  .text h3{
    font-weight: 400;
    color: #077187;
}
.expert .content .box  .text .link{
    margin-left: 2rem;
      
}
.expert .content .box  .text .link a{
    text-decoration: none;
}
.expert .content .box  .text .link .bi a{
    color: #111;
}
.contact{
    background: url("../Images/MPOR3858.jpg");
    background-size: cover;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.01);
    max-width: 500px;
    margin-top: 50px;
}
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputbox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
/* our services */
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.flexbox-items{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
}
.flexbox-item-1{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #EAD7D1;
}
.flexbox-item-2{
    margin-top: 2rem;
    background-color: #7B506F;
    padding: 1rem;

}
.flexbox-item-3{
   background-color: #DD99BB;
   margin-top: 2rem;
   padding: 1rem;
}
h3 {
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}
#off{
    margin-top: 1.7rem;
    text-align: center;
}
.btn-3{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: tomato;

}
.btn-3 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
}
.btn-3:hover{
    background: #555;
    transition: 0.5s;
}
/* end of our services */

/* team style  start*/
.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
}
.team .member .teampic{
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .member-info{
    padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: tomato;
}
.team .member span{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 16px;
}
.team .member .social-link{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
.team .member .social-link a i{
    color: tomato;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social-link a:hover{
    background: tomato;
}
.team .member .social-link a:hover i{
    color: #fff;
}
.team .member .social-link a+a{
    margin-left: 8px;
}
/* section{
    padding: 60px 0; 
    overflow: hidden;
  
} */
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title p{
    margin-top: 20px;
}
/* end of our team styling  */
.foot{
    display: grid;
    justify-content: center;
    align-items: end;
    /* min-height: 30vh; */
    background: #e8e8e8;
    padding: 20px;

}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
}
footer .container .about-us h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container .about-us p{
    color: #555;
}
footer .container .social{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
}
footer .container .social li{
    list-style: none;
}
footer .container .social li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .container .social li a i{
    color: #fff;
    font-size: 20px;
}
footer .container .support{
    position: relative;

}
footer .container .support ul li{
    list-style: none;
}
footer .container .support ul li a{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .container .contact-us .info{
    position: relative;
}
footer .container .contact-us .info li{
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 16px;
} 
footer .container .contact-us .info li span{
    color: #555;
    font-size: 20px;
}
footer .container .contact-us .info li a{
    color: #555;
    text-decoration: none;
}
.btn-1{
    padding: 2rem;

}
.btn-2{
    width: 150px;
    height: 60px;
    border: none;
    background: #555;
    border-radius: 1em;
    
}
.btn-2 a{
    text-decoration: none;
    color: #fff;
}
.btn-2:hover{
    background: #ff0157;
    transition: 0.5s;
    cursor: pointer;
}
.copytext{
    width: 100%;
    background-color: #fff;
    padding: 10px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
@media(max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% -68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url("../Images/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url("../Images/close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center; 
    }
    /* header.sticky .menuToggle{
        filter: invert(1);
    } */
     section{
        padding: 10px;
     }
     .banner .content h2{
        font-size: 3em;
        color: #fff;
     }
     .row{
        flex-direction: column;
     }
     .row .col50{
        position: relative;
        width: 100%;
     }
     .row .col50 .imgbx{
        height: 300px;
        margin-top: 20px;
     }
     .menu .content{
        margin-top: 20px;
     }
     .menu .content .box{
        margin: 10px;
     }
     .menu .content .box .imgbx{
        height: 260px;
     }
     footer{
        padding: 40px;
     }
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 20px;
  }
  .copytext{
    padding: 20px 40px 30px;
  }
  .flexbox{
    display: block; 
 } 
}
@media (max-width:768px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        gap: 20px;
      } 
    
}
