*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --primary-color: #004E89;
    --secondary-color:#1A659E;
    --premier-color: #FF6B35;
    --color-first:red;
    --mporipori-color: #333333;
    --color-red-light: hsla(346, 87%, 37%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156,100%,38%,15%);
    --color-bg: #0f0f3e;
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242,242,254,0.3);
    --color-gray-200: rgba(242,242,242,0.7);
    --color-white:#f2f2fe;
    --color-light: #055864;

     
    --transition: all 300ms ease;
    --container-width-lg: 78%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}
p{
    font-weight: 300;
    color: #111;
}

body{
    min-height: 1000px;
    line-height: 1.9;
    /* color background */
    background: var(--color-light);
}

/* changes which i made in 17/09 */
section{
    margin-top: 3rem;
    line-height: 1.2;
}
h1,h2,h3,h4,h5{
    color: var(--color-white);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}
a{ 
    text-decoration: none;
    color: #fff;
    transition: var(--transition);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
}
.nav-profile{
    position: relative;
    cursor: pointer;
}
.nav-profile ul{
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}
/* show nav profile on hover */
.nav-profile:hover>ul{
    visibility: visible;
    opacity: 1;
}
.nav-profile ul li a{
    padding: 1rem;
    background: var(--premier-color);
    display: block;
    width: 100%;
}
.nav-profile ul li:last-child a{
    background: red;
    color: var(--color-bg);
}
/* end of changes */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/kyelam.jpg");
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    align-items: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    margin: auto;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 0.9em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: #ff0157;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.text span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgbx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content-1{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content-1 .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content-1 .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content-1 .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content-1 .box .text1{
    padding: 15px 0 5px;
}
.menu .content-1 .box  .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 300px;
    margin: 15px;
}
.expert .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.expert .content .box  .text{
    padding: 15px 0 5px;
}
.expert .content .box  .text h3{
    font-weight: 400;
    color: #077187;
}
.expert .content .box  .text .link{
    margin-left: 2rem;
      
}
.expert .content .box  .text .link a{
    text-decoration: none;
}
.expert .content .box  .text .link .bi a{
    color: #111;
}
.contact{
    background: url("../Images/MPOR3858.jpg");
    background-size: cover;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.01);
    max-width: 500px;
    margin-top: 50px;
}
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputbox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
/* our services */
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.flexbox-items{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
}
.flexbox-item-1{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #EAD7D1;
}
.flexbox-item-2{
    margin-top: 2rem;
    background-color: #7B506F;
    padding: 1rem;

}
.flexbox-item-3{
   background-color: #DD99BB;
   margin-top: 2rem;
   padding: 1rem;
}
h3 {
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}
#off{
    margin-top: 1.7rem;
    text-align: center;
}
.btn-3{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: tomato;

}
.btn-3 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
}
.btn-3:hover{
    background: #555;
    transition: 0.5s;
}
/* end of our services */

/* team style  start*/
.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
}
.team .member .teampic{
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .member-info{
    padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: tomato;
}
.team .member span{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 16px;
}
.team .member .social-link{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
.team .member .social-link a i{
    color: tomato;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social-link a:hover{
    background: tomato;
}
.team .member .social-link a:hover i{
    color: #fff;
}
.team .member .social-link a+a{
    margin-left: 8px;
}
/* section{
    padding: 60px 0; 
    overflow: hidden;
  
} */
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title p{
    margin-top: 20px;
}
/* end of our team styling  */
/* blog content start */
.blog{
    position: relative;
    padding: 4rem;
}
.blog-1{
display: grid;
flex-direction: column;
grid-template-columns: repeat(3, 1fr);
width: 100%;
gap: 3rem;
}
.blog-content{
    background: #555;
    color: #fff;
}
.blog-1 p{
    text-align: center;
    padding: 2rem;
}
.blog-1 h2{
    text-align: center;
    padding: 1rem;
}
 .blog-content .published-date{
    text-align: center;
}
.page{
    position: relative;
    padding: 5rem;
}
.let{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1fr);
    
}
.lets{
    margin: auto;
    padding: 3rem;
    width: 100%;
    background: #eff2f8;
}
.lets p{
    text-align: center;
}
.lets h2{
    text-align: center;
}
.foot{
    display: grid;
    justify-content: center;
    align-items: end;
    min-height: 30vh;
    background: #e8e8e8;
    padding: 20px;

}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}
footer .container .about-us h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container .about-us p{
    color: #555;
}
footer .container .social{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
}
footer .container .social li{
    list-style: none;
}
footer .container .social li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .container .social li a i{
    color: #fff;
    font-size: 20px;
}
footer .container .support{
    position: relative;

}
footer .container .support ul li{
    list-style: none;
}
footer .container .support ul li a{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .container .contact-us .info{
    position: relative;
}
footer .container .contact-us .info li{
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 16px;
} 
footer .container .contact-us .info li span{
    color: #555;
    font-size: 20px;
}
footer .container .contact-us .info li a{
    color: #555;
    text-decoration: none;
}

/* footer .container.btn-1{
    position: relative;
    margin-left: 2rem;
}
.btn-1{
    padding: 0.5rem;
}

.btn-2{
    margin-bottom: 2rem;
    width: 150px;
    height: 60px;
    border: none;
    background: #555;
    border-radius: 1em;
    
}
.btn-2 a{
    text-decoration: none;
    color: #fff;
}
.btn-2:hover{
    background: #ff0157;
    transition: 0.5s;
    cursor: pointer;
} */
 /* CATEGORY BUTTON IN BLOG */
.category-button{
    background: var(--primary-color);
    color: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2 );
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}
.category-button:hover{
    color: var(--color-white);
}
 /* POST IN BLOG */
 .post-thumbnail{
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    overflow: hidden;
    margin-bottom: 1.6rem;
 }
 .post:hover .post-thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
 }
 .post-author{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
 }
 .post-author-avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
 }
 /* featured */
 .featured{
    margin-top: 8rem;
 }
 .featured-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
 }
 .featured .post-thumbnail{
    height: fit-content;
 }
 .posts-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    margin-bottom: 5rem;
 }
 /* category buttons */
  .category-buttons{
    padding: 4rem 0;
    border-top: 2px solid var(--color-bg);
    border-bottom: 2px solid var(--color-bg);
  }
  .category-buttons-container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
/* search */
.search-bar{
    margin-top: 2rem;
  
}
.search-bar-container{
    position: relative;
    width: 30rem;
    background: var(--color-gray-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-300);
}
.search-bar-container >div{
    width: 100%;
    display: flex;
    align-items: center;
   
}
.search-bar input{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
    border: none;
   
}
.search-bar input::placeholder{
    color: var(--color-gray-300);
}
.btn-4{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    border: none;
    color: var(--color-white);
}
/* singlepost */
.singlepost{
    margin: 6rem 0 2rem;

}
.singlepost-container{
    width: var(--form-width);
    background: var(--color-gray-900);
    padding: 1rem 2rem 3rem;
}
.singlepost-container p{
    margin-top: 1rem;
    line-height: 1.7rem;
    color: var(--color-white);
}
.singlepost-thumbnail{
    margin: 1.5rem 0 1rem;
    
}
/* end of singlepost */
/* category title */
.category-title{
    height: 15rem;
    margin-top: 4.5rem;
    background: var(--color-gray-900);
    display: grid;
    place-items: center;
}
 /* end of category title */

 /* start of general form */
 .form-section{
    display: grid;
    place-items: center;
    height: 100vh;
 }
 .form-section-container{
    width: var(--form-width);
 }
 .alert-message{
    /* background: var(--color-first); */
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);

 }
 .alert-message.error{
    background: var(--color-red-light); 
    color: var(--color-first);
 }
 .alert-message.error p{
     color: var(--color-first);
 }
 .alert-message.s{
    background-color: var(--color-green-light);
    color: var(--color-green);
 }
 .alert-message .s p{
    color: var(--color-green);
 }
 form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .form-control{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
 }
 input,textarea,select{
    padding: 0.8rem 1.4rem;
    background-color: var(--color-gray-900);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-white);
 }
 .form-section small{
    margin-top: 1rem;
    display: block;
 }
 .form-section small a{
    color: var(--color-bg);
 }
.copytext{
    width: 100%;
    background-color: #fff;
    padding: 10px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
}

@media(max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% -68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url("../Images/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url("../Images/close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center; 
    }
    /* header.sticky .menuToggle{
        filter: invert(1);
    } */
     section{
        padding: 10px;
     }
     .banner .content h2{
        font-size: 3em;
        color: #fff;
     }
     .row{
        flex-direction: column;
     }
     .row .col50{
        position: relative;
        width: 100%;
     }
     .row .col50 .imgbx{
        height: 300px;
        margin-top: 20px;
     }
     .menu .content{
        margin-top: 20px;
     }
     .menu .content .box{
        margin: 10px;
     }
     .menu .content .box .imgbx{
        height: 260px;
     }
     footer{
        padding: 40px;
     }
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 20px;
  }
  .copytext{
    padding: 20px 40px 30px;
  }
  .flexbox{
    display: block; 
 } 
 .blog-1{
    display: block;
    width: 100%;
 }
 .blog-content{
    width: 100%;
 }
 .lets{
    width: 100%;
 }
}
@media (max-width:768px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr) ;
        gap: 20px;
        text-align: center;
      } 
    
}

@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-md);
        display: block;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.5rem;
    }
    .nav-profile{
        background: var(--color-gray-900);
    }
    .nav-profile ul{
        top: 100%;
        width: 100%;
    }
    .nav-profile .avatar{
        margin-left: 2rem;
        border: 0;
    }
    .search-bar-container{
       width: 60%;
    }
    
  
}
@media screen and(max-width:600px) {
    section{
        margin-top: 2rem;
    }
    h1{
        font-size: 2rem;
    }
    .featured{
        margin-top: 6rem;
    }
    .featured-container{
       grid-template-columns: 1fr;
       gap: 0;
    }
    .posts-container{
        grid-template-columns: 1fr;
    }
    .c
    .category-buttons-container{
        grid-template-columns: 1fr 1fr;
       
    }
    .search-bar-container{
        width:var(--container-width-md) ;
     }
     .btn-4{
        width: var(--container-width-md);
     }
     .singlepost-container{
        background-color: transparent;
        padding: 0;
     }
}